<a href="https://colab.research.google.com/github/PRagya613/PythonBasics/blob/main/lect1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

*   Indentation is imp. in python
*   Indicates a block of code.

In [ ]:
if 5 > 2:
  print("Five is greater than two")

Five is greater than two

In [ ]:
#This is a comment. No multi-line comments.
# No need to declare a variable
x = "This is great!"
print(x)

This is great!

In [ ]:
"""
This is a comment
written in more than
just one line
"""
# Python ignores string literals that are not assigned to a variable.

'\nThis is a comment\nwritten in more than \njust one line\n'

In [ ]:
x = 4                         # int type
x = "Modern Family"           # str type
print(x)

Modern Family

In [ ]:
x = str('c')
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

c
3
3.0

In [ ]:
x = 34
y = "Pragya"
print(type(y))
print(type(x))

<class 'str'>
<class 'int'>

In [ ]:
# Strings can be declared in double or single quotes, means the same
x = "Modern Family"
y = 'Modern Family'

print(x)
print(y)

Modern Family
Modern Family

In [ ]:
# Case sensitive
a = 3
A = 'B99'

print(a)
print(A)

3
B99

1. A variable name must start with a letter or the underscore character.

2. A variable name cannot start with a number.

3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

4. Variable names are case-sensitive (age, Age and AGE are three different variables).

5. A variable name cannot be any of the Python keywords.

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
#Unpacking a collection of values in a list, tuple etc.

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)        #acts as an operator in case of numbers

15

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: ignored

In [ ]:
x = 5
y = "John"
print(x, y)    #hence the best way to output multiple variables especially in case of different data types

5 John

In [ ]:
x = "awesome"   # global variable

def myfunc():
  x = "fantastic"       # local variable
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
def myfunc():
  global x              #creating global variable inside a function
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = "awesome"

def myfunc():
  global x           # changes the value of original global variable
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In - built data types by default

* Text Type:	str

* Numeric Types:	int, float, complex

* Sequence Types:	list, tuple, range

* Mapping Type:	dict

* Set Types:	set, frozenset

* Boolean Type:	bool

* Binary Types:	bytes, bytearray, memoryview

* None Type:	NoneType

In [ ]:
x = 1j

print(type(x))

<class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"]

print(type(x))

<class 'list'>

In [ ]:
x = ("apple", "banana", "cherry")

print(type(x))

<class 'tuple'>

In [ ]:
x = range(6)

print(type(x))

<class 'range'>

In [ ]:
x = {"name" : "John", "age" : 36}

print(type(x))

<class 'dict'>

In [ ]:
x = {"apple", "banana", "cherry"}

print(type(x))

<class 'set'>

In [ ]:
x = frozenset({"apple", "banana", "cherry"})

print(type(x))

<class 'frozenset'>

In [ ]:
x = None

In [ ]:
x = list(("apple", "banana", "cherry"))

print(x)

['apple', 'banana', 'cherry']

In [ ]:
x = tuple(("apple", "banana", "cherry"))

print(x)

('apple', 'banana', 'cherry')

In [ ]:
x = set(("apple", "banana", "cherry"))

print(x)

{'banana', 'cherry', 'apple'}

In [ ]:
x = dict(name="John", age=36)

print(x)

{'name': 'John', 'age': 36}

In [ ]:
x = frozenset(("apple", "banana", "cherry"))

print(x)

frozenset({'banana', 'cherry', 'apple'})

In [ ]:
x = bool(100)
y = bool(0)

print(x)
print(y)

True
False

In [ ]:
x = bytearray(5)

print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [ ]:
x = bytes(5)

print(x)

b'\x00\x00\x00\x00\x00'

In [ ]:
x = memoryview(bytes(5))

print(x)

<memory at 0x787a6f073580>

In [ ]:
x = range(6)

print(x)

range(0, 6)

* ***Int***, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

* ***Float***, or "floating point number" is a number, positive or negative, containing one or more decimals.

 Float can also be scientific numbers with an "e" to indicate the power of 10.

* ***Complex*** numbers are written with a "j" as the imaginary part

In [ ]:
# conversion

a = 2

x = complex(a)
y = float(a)

print(a)
print(x)
print(y)

2
(2+0j)
2.0

In [ ]:
import random

print(random.randrange(3,8))

6