<a href="https://colab.research.google.com/github/pragyaCodes7/PythonBasics/blob/main/lect2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Strings

a = "Coding karlo"
print(a)

Coding karlo

In [ ]:
#Multiline Strings

b = """Mensa-fied best friends and roommates Leonard and Sheldon, physicists who work at the California Institute of Technology,
may be able to tell everybody more than they want to know about quantum physics, but getting through most basic social situations,
especially ones involving women, totally baffles them. How lucky, then, that babelicious waitress/aspiring actress Penny moves in next door.
Frequently seen hanging out with Leonard and Sheldon are friends and fellow Caltech scientists Wolowitz and Koothrappali.
Will worlds collide? Does Einstein theorize in the woods?"""

print(b)

# we can use 3 single quotes as well for multiline strings.
#In the result, we notice the line breaks, same as the code.

Mensa-fied best friends and roommates Leonard and Sheldon, physicists who work at the California Institute of Technology,
may be able to tell everybody more than they want to know about quantum physics, but getting through most basic social situations,
especially ones involving women, totally baffles them. How lucky, then, that babelicious waitress/aspiring actress Penny moves in next door.
Frequently seen hanging out with Leonard and Sheldon are friends and fellow Caltech scientists Wolowitz and Koothrappali.
Will worlds collide? Does Einstein theorize in the woods?

Strings in Python, much like the other programming languages, are arrays of bytes representing Unicode characters.

But Python doesn't have a 'character' data type. Here, a single character is a string with length 1, simply.

In [ ]:
#Square brackets are used to access elements of a string like an array.

a = "Coding karlo"
print(a[0])
print(a[1])
print(a[2])

C
o
d

In [ ]:
#Looping in strings

for x in 'Coding karlo':
  print(x)

C
o
d
i
n
g

k
a
r
l
o

In [ ]:
#String length

a = "Coding karlo"

print(len(a))

12

In [ ]:
#To check whether a particular string is present in another string

tbbt = "The Big Bang Theory is a famous sitcom"

print("Theory" in tbbt)
print("theory" in tbbt)                       # we use 'in' for this

True
False

In [ ]:
#Better Version using 'if' statement

tbbt = "The Big Bang Theory is a famous sitcom"

if "Theory" in tbbt:
  print("Found it!")
else:
  print("Oops! Try again.")

if "theory" in tbbt:
  print("Found it!")
else:
  print("Oops! Try again.")

Found it!
Oops! Try again.

In [ ]:
#To check if something is NOT present in the string

tbbt = "The Big Bang Theory is a famous sitcom"

print("Theory" not in tbbt)
print("theory" not in tbbt)                        # we use 'not in' for this

False
True

In [ ]:
#Better Version using 'if' statement

tbbt = "The Big Bang Theory is a famous sitcom"

if "Theory" not in tbbt:
  print("Oops! Try again.")
else:
  print("Found it!")

if "theory" not in tbbt:
  print("Oops! Try again.")
else:
  print("Found it!")

Found it!
Oops! Try again.

In [ ]:
# Slicing an array

a = "Coding karlo"
print(a[2:6])                  # starting from 2nd index to 5th (6th is not included)
print(a[:6])                   # startig from 0 index to 5th
print(a[6:])                   # starting from 6th to last

# Negative Slicing

a = "Coding karlo"
print(a[-6:-2])

ding
Coding
 karlo
 kar

In [ ]:
a = "Coding karlo"

#Uppercase
print(a.upper())

#Lowercase
print(a.lower())

CODING KARLO
coding karlo

In [ ]:
a = "   Coding karlo  "

print(a)

# Whitespace is the space before and/or after the actual text, and very often you want to remove this space
# .strip() removes the whitespace from beginning to the end
print(a.strip())

   Coding karlo
Coding karlo

In [ ]:
#Replace a string with another

a = "Coding karlo"

print(a.replace("C", "K"))

Koding karlo

In [ ]:
# Split a string
#The split() method returns a list where the text between the specified separator becomes the list items.

a = "Coding karlo"

print(a.split(" "))

b = "Coding,karlo"

print(b.split(","))

c = "Coding:karlo"

print(c.split(":"))

d =  'CatBatSatFatOr'

print(d.split("t"))

['Coding', 'karlo']
['Coding', 'karlo']
['Coding', 'karlo']
['Ca', 'Ba', 'Sa', 'Fa', 'Or']

In [ ]:
#String Concatenation

a = "Coding"
b = "karlo"

print(a+" "+b)

Coding karlo

In [ ]:
# We cannot combine strings and numbers like this:
# age = 36
# txt = "My name is John, I am " + age
# print(txt)
# But we can combine strings and numbers by using the format() method.
# It takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

age = 178
txt = "My name is Damon, and I am {}."
print(txt.format(age))

My name is Damon, and I am 178.

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

Some characters are illegal in a string, for eg. double quotes, hence we need escape characters.
These escape characters allow us to use these illegal characters which are normally not allowed.

In [ ]:
txt = 'It\'s not that common, it doesn\'t happen to everyone and it is a big deal!'
print(txt)

It's not that common, it doesn't happen to everyone and it is a big deal!

In [ ]:
txt = "This will add a backslash: \\"
print(txt)

This will add a backslash: \

In [ ]:
txt = "You.\nAre.\nAn Idiot!"
print(txt)

You.
Are.
An Idiot!

In [ ]:
txt = "This is Carriage\rReturn"
print(txt)                       # Carriage return resets the cursor to the beginning of the line

Return

In [ ]:
txt = "Chandler\tBing"
print(txt)

Chandler	Bing

In [ ]:
txt = "Crap \bBag"
print(txt)

Crap Bag

In [ ]:
txt = "\123\150\145\154\144\157\156\114\145\145\103\157\157\160\145\162"
print(txt)

SheldonLeeCooper

In [ ]:
txt = "\x53\x68\x65\x6c\x64\x6f\x6e\x4c\x65\x65\x43\x6f\x6f\x70\x65\x72"
print(txt)

SheldonLeeCooper

In [ ]:
b = "joey is mad."
print(b.capitalize())

Joey is mad.

In [ ]:
b = "Joey Is Mad."
print(b.casefold())

joey is mad.

In [ ]:
txt = "banana"
x = txt.center(100, "*")

print(x)

# SYNTAX: string.center(length, character)
# Paramaters: length (required) - Length of the string to be returned
#             character (optional) - The character to fill the missing space on each side. Default is " " (space)

***********************************************banana***********************************************

In [ ]:
txt = "Chandler is the funniest. Chandler is my fav character."
x = txt.count("Chandler", 10, 20);

print(x)

# SYNTAX: string.count(value, start, end)
# Parameters: value	(required) - The string to value to search for
#             start	(optional) - The position to start the search. Default is 0
#             end	(optional) - The position to end the search. Default is the end of the string

1